// vim: filetype=scss

@basecolor: #eef;
@seccolor: #ddc;
@hicolor: rgb(255, 242, 98);
@medcolor: #efe;
@locolor: #ccc;
@selcolor: rgb(255, 224, 63);

.animated() {
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transition-property: background-color, border, opacity;
    transition-property:  background-color, border, opacity;
}

.shadow(@a, @b,@c) {
    -webkit-box-shadow:0 @a @b rgba(0, 0, 0, @c), 0 0 @b*10 rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 @a @b rgba(0, 0, 0, 0.3), 0 0 @b*10 rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 @a @b rgba(0, 0, 0, 0.3), 0 0 @b*10 rgba(0, 0, 0, 0.1) inset;
}
.gradient(@c1, @c2) {
    background: @c1; /* Old browsers */
    background: -moz-linear-gradient(top, @c1 0%, @c2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@c1), color-stop(100%,@c2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @c1 0%,@c2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @c1 0%,@c2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @c1 0%,@c2 100%); /* IE10+ */
    background: linear-gradient(to bottom, @c1 0%,@c2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@c1', endColorstr='@c2',GradientType=0 ); /* IE6-9 */
}
.nice-gradient-box(@col1, @col2) {
    .gradient(@col1, @col2);
    margin-bottom: 3px;
    margin-top: 3px;
    padding: .5ex;
    border: solid 1px transparent;
    &:hover {
        .gradient(@selcolor, white);
        border: solid 1px white;
        .shadow(1px, 4px, 0.3);
    }
}
.wip {
	background-color: rgb(127, 190, 173);
}
ul.connected_tasks {
	padding: 1ex;
    margin: 0;
    list-style: none;
    li.task {
        padding: .5ex;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        vertical-align: middle;
        cursor: pointer;
    }
    li.task_priL {
        .nice-gradient-box(@locolor, @seccolor);
    }
    li.task_pri {
        .nice-gradient-box(@basecolor, @seccolor);
    }
    li.task_priM {
        .nice-gradient-box(@medcolor, @seccolor);
    }
    li.task_priH {
        .nice-gradient-box(@hicolor, @seccolor);
    }
    li.task_running {
    	color: #a0a;
    }
}
/*
Show/Hide buttons according to the state
*/
ul#done_tasks > li {
    > a.btn {
        visibility: hidden;
    }
    > a.auto_editable {
        visibility: hidden;
        float: right;
    }
    > span.description {
        visibility: visible;
    }
}
ul#pending_tasks > li {
    > a.auto_editable {
        opacity: 1.0;
    }
    > span.description {
        opacity: 0;
    }
    > a.btn {
        opacity: 0;
    }
    &:hover {
        > a.btn {
            opacity: 1.0;
            .animated();
        }
    }
}


/*
ul li.task:nth-child(even) {
	background-color: #f5e5e5; 
}
*/
#mainbody {
    margin-top: 5em;
}
